body {
    background-color: rgb(163, 161, 161);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#board {
    height: 540px;
    width: 630px;

    background-color: black;
    border: 10px solid rgba(85, 59, 3, 0.801);

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;

    background-color: rgb(163, 161, 161);
    border-radius: 50%;

    margin: 5px;
    border: 5px solid rgba(85, 59, 3, 0.801);
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}